<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgx.mapper.IStoreDao">
  <resultMap id="BaseResultMap" type="com.zgx.po.Stotetable">
    <id column="IntegralLogID" jdbcType="INTEGER" property="integrallogid" />
    <result column="SignUp_id" jdbcType="INTEGER" property="signupId" />
    <result column="GetIntegral" jdbcType="INTEGER" property="getintegral" />
    <result column="Gettime" jdbcType="TIMESTAMP" property="gettime" />
    <result column="IntegralExplain" jdbcType="VARCHAR" property="integralexplain" />
  </resultMap>
  <sql id="Base_Column_List">
    IntegralLogID, SignUp_id, GetIntegral, Gettime, IntegralExplain
  </sql>
 
   <!-- 新增积分记录 -->
    <insert id="insert" parameterType="com.zgx.po.Stotetable"  >
    insert into integrallogtable(SignUp_id, GetIntegral,  IntegralExplain)
    values (#{signupId}, #{getintegral} , #{integralexplain}) <!-- 可以设置输入数据类型 #{usermc,jdbcType=VARCHAR} -->
   </insert>
 
    <!-- 查询条条件 -->
  <select id="findPage" resultMap="BaseResultMap"  >  <!--  resultMap="返回结果对象" -->
    select  signuptable.*
    FROM integrallogtable 
    WHERE    ${strwhere} ORDER BY Gettime DESC LIMIT ${startIndex},${pageSize}
  </select>
 
  <select id="getTotalRow"   resultType="Integer" >  <!--  resultMap="返回结果对象" -->
    select  COUNT(integrallogtable.IntegralLogID) 
    FROM integrallogtable   
    WHERE  ${strwhere}
  </select>
 

   

 

   
</mapper>